/*
INFORMASI :
1. CUSTOME.CSS INI DIBUAT UNTUK CSS KUSTOM YANG TIDAK ADA DI BOOTSTRAP

PERATURAN PEMBUATAN CSS :
1. UNTUK PENAMAAN ID ATAU KELAS HARUS MENGGUNAKAN KOMENTAR YANG JELAS DAN MENGGUNAKAN NAMA YG SESUAI DENGAN KEBUTUHAN (JANGAN NGASAL NGASIH NAMANYA)
2. TOLONG UNTUK SETIAP CSS HARUS DIKASIH KETERANGAN UNTUK SETIAP PAGENYA MISAL
    ---- CSS UNTUK PAGE ABOUT US (TENTANG)
    .TABEL{

    }

    FOTO{

    }
3. SEMANGAT DAN SELAMAT MENGERJAKAN ^_^
*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,600';

/*AMD : background utama halaman depan*/

#firstPage {
    position: relative;
    height: 623px !important;
}

#firstPage .bg {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}


/*AMD : Warna background biru transparant halaman depan*/

#firstPage .colorBg {
    background: rgba(1, 13, 25, 0.83);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}


/*AMD : ID untuk navbar yang akan dicustom*/

#firstPage #custom-panel {
    position: relative;
    z-index: 9999 !important;
}


/*AMD : Menghilangkan background & border bawaan bootstrap yang berwarna putih*/

#firstPage #custom-panel .navbar-default {
    background-color: #05101a;
    border: none;
    height: 81px !important;
    box-shadow: 0px 0px 6px -2px #000000;
}

#firstPage #custom-panel .navbar-default .contactext:before {
    content: "KONTAK KAMI";
}


/*AMD : Atur Posisi Brand Logo dan menu */

#firstPage #custom-panel .navbar-brand {
    padding: 0 !important;
    margin-top: -5px;
}

#firstPage .navbar-nav {
    padding: 16px 25px 0px 0px;
}

#firstPage .navbar-nav li a {
    color: white !important;
    letter-spacing: 1.1px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

#firstPage #greetingMsg {
    color: white;
}


/*AMD : Greeting pada halaman depan sampai ke tombol */

#firstPage #greetingMsg .greetingPanel {
    width: 100%;
    padding: 20px;
    height: auto;
    position: relative;
    margin-top: 27%;
}

#firstPage #greetingMsg .greetingPanel .greeting span {
    font-size: 28px !important;
    color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#firstPage #greetingMsg .greetingPanel .greeting .text:before {
    content: "Raintek";
}

#firstPage #greetingMsg .greetingPanel .subGreeting span {
    font-size: 20px !important;
    color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#firstPage #greetingMsg .greetingPanel .subGreeting .text:before {
    content: " Kepuasan Anda Adalah Motivasi Kami !";
}

#firstPage #greetingMsg .greetingPanel .footGreeting {
    margin-top: 27px;
    font-size: 15px;
}

#firstPage #greetingMsg .greetingPanel .footGreeting .firstext:before {
    content: "Raintek adalah perusahaan software house yang melayani pembuatan aplikasi";
}

#firstPage #greetingMsg .greetingPanel .footGreeting .secondtext:before {
    content: "dibidang Web Developtment,Desktop Developtment,Mobile Development.";
}

#firstPage #greetingMsg .greetingPanel .button {
    margin-top: 27px;
}

#firstPage #greetingMsg .greetingPanel .button .btn1 {
    margin-right: 12px;
}

.wrap {
    max-width: 600px;
    margin: 150px auto;
}

.type-wrap {
    margin: 10px auto;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 5px;
    border: #CCC 1px solid;
}

.links {
    margin: 20px 0;
    font-size: 0.75em;
    text-align: center;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*AMD : Greeting pada halaman depan sampai ke tombol 
  #1 = 09/09/2016 - adit_mdd
*/

#littlePanelPromotion {
    background: #f4f4f4;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px #999;
}

#littlePanelPromotion .panelContent {
    text-align: left;
    margin: 30px 0px 30px 0px;
}

#littlePanelPromotion .panelContent .titleContent span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #292929;
}

#littlePanelPromotion .panelContent .bodyContent {
    margin-top: 7px;
}

#littlePanelPromotion .panelContent .bodyContent span {
    font-size: 13px;
    color: #4a4a4a;
}