/*WS : Warna background biru transparant halaman depan*/
/*porto menu*/
body {
    margin: 0;
    padding: 0;
}
body.stop-scrolling {
    height: 100%;
    overflow: hidden; }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #F5F5F5;
}

::-webkit-scrollbar-thumb {
/*            background-color: #bbdefb;*/
     background-color: #64b5f6;
    transition-duration: 1s;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #09f;
    transition-duration: 1s;
}

#porto-menu {
    margin-top: -14px;
    line-height: 50px;
    text-align: center;
    margin: 0px;
    padding: 0;
}

#porto-menu-content {
    width: 750px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 30px 0;
    text-align: left;
}

.porto-menu-default {
    margin-top: -13px;
    padding-top: 0px;
    width: 100%;
    height: 60px;
/*        box-shadow: 0px 5px 10px 0px #05101a;*/
    box-shadow: 0px 5px 10px 0px #000000;

}

.porto-menu-fixed {
    position: fixed;
    background: #05101a;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 20 40px #05101a;
}

/**/
.porto-cssmenu {
    width: 100%;
    height: 60px;
}
.porto-cssmenu ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 6px;
    line-height: 1;
    display: block;
    zoom: 1;
}
.porto-cssmenu ul:after {
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
.porto-cssmenu ul li {
    float: left;
    display: block;
    padding: 0;
}
.porto-cssmenu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
.porto-cssmenu ul li a:hover {
    color: #333333;
}
.porto-cssmenu ul li a:hover:before {
    width: 100%;
}
.porto-cssmenu ul li a:after {
    content: '';
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
.porto-cssmenu ul li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #09f;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
.porto-cssmenu ul li.last > a:after,
.porto-cssmenu ul li:last-child > a:after {
    display: none;
}
.porto-cssmenu ul li.active a {
    color: #09f;
}
.porto-cssmenu ul li.active a:before {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .porto-cssmenu ul li {
        float: none;
    }

    .porto-cssmenu ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .porto-cssmenu ul li a:after {
        display: none;
    }

    .porto-cssmenu ul li a:before {
        height: 1px;
        background: #ffffff;
        width: 100%;
        opacity: .2;
    }

    .porto-cssmenu ul li.last > a:before,
    .porto-cssmenu ul li:last-child > a:before {
        display: none;
    }
}
/*end porto menu*/
.porto_font {
    font-family: 14px/1.85em 'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #333;
}

#firstPage .porto_colorBg {
    background: rgba(1, 13, 25, 0.83);
    z-index: 1;
    width: 100%;

}

.porto_bg {
    height:400px;
    background:#09f;
    width:100%; 
    background-image:url('../img/123.jpg');
    background-size:100%;
}

.porto_colorBg {
    width:100%;
    height:340px;
    position:absolute;
    background:#000000;
    float:left;
    margin-top:-340px;
    opacity:0.7;
    box-shadow: 0px 2px 2px #333; 
}

#porto_page {
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 200px;
    position: absolute;
    margin-top: 150px;
}

.porto_header {
    width: 100%;
    float: left;
    background: transparent;
    height: 100px;
    color: #FFFFFF;
}

.porto_header .title1 {
    width: 100%;
    float: left;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.porto_header .title2 {
    width: 100%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    columns: #666;
    text-align: center;
}
/*PORTOFOLIO KONTEN BAGIAN ATAS*/

.porto_top_kontent {
    width: 100%;
    float: left;
    margin-top: -10px;
    background: transparent;
    height: 200px;
}

.templatemo_col12 {
    margin-bottom: 5px;
    width: 25%;
    float: left;
}

.templatemo_about_box {
    background: #dddddd;
    border-radius: 5px;
    padding: 50px 0px;
    text-align: center;
}

.square_coner {
    margin: 0 auto;
    width: 100px;
    margin-bottom: 20px;
}

.texts-a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #09f;
    border-radius: 5px;
    font-size: 32px;
    color: #ffffff;
}

.texts-a img {
    width: 100%;
    height: 80px;
    border-radius: 5px;
}

.project-post:hover .hover-box {
    visibility: visible;
    opacity: 1\0/;
    -webkit-transform: rotateY(0deg) scale(1);
    -moz-transform: rotateY(0deg) scale(1);
    -ms-transform: rotateY(0deg) scale(1);
    -o-transform: rotateY(0deg) scale(1);
    transform: rotateY(0deg) scale(1);
}

.hover-box {
    position: absolute;
    top: 0;
    left: 4%;
    width: 92%;
    height: 100%;
    border-radius: 5px;
    background: rgba(1, 13, 25, 0.83);
    visibility: hidden\0/;
    opacity: 0\0/;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transform: rotateY(-90deg) scale(0.8);
    -moz-transform: rotateY(-90deg) scale(0.8);
    -ms-transform: rotateY(-90deg) scale(0.8);
    -o-transform: rotateY(-90deg) scale(0.8);
    transform: rotateY(-90deg) scale(0.8);
}
/*END*/
/*PORTO KONTEN BAWAH GAMBAR*/

.porto_font .baca_detail {
    text-decoration: none;
    color: #09f;
}

.porto_font .baca_detail:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section-content {
    padding: 0 7%;
    margin-bottom: 100px;
}

.section-title {
    border-top: 1px solid;
    margin-bottom: 60px;
}

.section-title h1 {
    width: 100%;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    text-align: center;
    font-weight: 300;
    margin: 0;
    font-size: 18px;
}

#about .section-title {
    border-color: #ddd;
}

#about h1 {
    background: transparent;
/*           background-color: #039BE5;*/
}

.member-item {
    overflow: hidden;
    height: auto;
}

.member-item:hover .overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.member-thumb {
    width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;
    border-radius: 5px;
}

.member-thumb img {
    width: 100%;
    height: 280px;
}

.member-thumb .overlay {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.social-member li {
    display: inline;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #e9b144;
    text-align: center;
    margin-left: 2px;
    margin-top: 2px;
}

.social-member li a {
    display: block;
    line-height: 40px;
    color: white;
}

.social-member li:hover {
    background-color: #e5a424;
}

.member-content {
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
}

.member-content h4 {
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
}

.member-content p {
    color: #aaaaaa;
    font-size: 12;
}

.our-story {
    margin-top: 80px;
}

.our-story h3 {
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 0 20px 0;
}

.story-image {
    margin-top: 30px;
    overflow: hidden;
}

.story-image img {
    width: 100%;
    height: auto;
}
/* END*/
/* PORTO GALLERY */

#portfolio .section-title {
    border-color: #1dcb7c;
}

#portfolio h2 {
    background-color: #F4511E;
}

.portfolio-item {
    margin-bottom: 40px;
    overflow: hidden;
}

.portfolio-item:hover .overlay-p {
    visibility: visible;
    opacity: 1;
}

.portfolio-thumb {
    overflow: hidden;
    position: relative;
}

.portfolio-thumb img {
    width: 100%;
    height: auto;
}

.portfolio-thumb .overlay-p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 227, 149, 0.9);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.portfolio-thumb .overlay-p a {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -15px;
    color: white;
}

.portfolio-title {
    width: 100%;
    text-align: center;
}

.portfolio-title a {
    color: #38e395;
    font-size: 18px;
    text-transform: uppercase;
}
/* END */

.porto_top_kontent .img_kontent {
    width: 25%;
    float: left;
    height: 200px;
    background: #eee;
}

.radius_left {
    border-radius: 8px 0px 0px 8px;
}

.radius_right {
    border-radius: 0px 8px 8px 0px;
}

.porto_top_kontent .img_kontent .img {
    width: 100%;
    float: left;
    height: auto;
    margin-top: 40px;
}

.porto_top_kontent .img_kontent .img_cs {
    width: 50%;
    margin-left: 25%;
    height: 100px;
    background: #333;
}

.porto_top_kontent .img_kontent .img_text {
    width: 100%;
    padding: 10px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.porto_bottom_kontent {
    width: 100%;
    float: left;
    margin-top: 50px;
    height: auto;
}

.porto_bottom_kontent .img_kontent {
    width: 32%;
    float: left;
    /*background: #09f;*/
    height: auto;
}

.porto_bottom_kontent .img_kontent2 {
    width: 32%;
    float: left;
    margin-left: 2%;
    /*background: #09f;*/
    height: auto;
}

.porto_bottom_kontent .img_kontent3 {
    width: 32%;
    float: left;
    margin-left: 2%;
    /*background: #09f;*/
    height: auto;
}

.porto_bottom_kontent .img_kontent .img_1 {
    width: 100%;
    float: left;
    height: auto;
    /* background: #666;*/
}

.porto_bottom_kontent .img_kontent .img_1 .img_cs {
    width: 100%;
    height: 280px;
    border-radius: 8px;
    background-size: cover;
    background-image: url("../img/2.jpg");
}

.porto_bottom_kontent .img_kontent2 .img_2 {
    width: 100%;
    float: left;
    height: auto;
    /* background: #666;*/
}

.porto_bottom_kontent .img_kontent2 .img_2 .img_cs {
    width: 100%;
    height: 280px;
    border-radius: 8px;
    background-size: cover;
    background-image: url("../img/3.jpg");
}

.porto_bottom_kontent .img_kontent3 .img_3 {
    width: 100%;
    float: left;
    height: auto;
    /* background: #666;*/
}

.porto_bottom_kontent .img_kontent3 .img_3 .img_cs {
    width: 100%;
    height: 280px;
    border-radius: 8px;
    background-size: cover;
    background-image: url("../img/4.jpg");
}

.porto_bottom_kontent .img_kontent .img_text {
    width: 100%;
    float: left;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
/*CSS PORTOFOLIO BAGIAN CONTENT DETAIL GAMBAR PROJECT*/

.nama_detail_project {
    width: 100%;
    float: left;
    font-size: 14px;
    padding: 7px;
    text-align: left;
}

.nama_detail_project1 {
    width: 100%;
    float: left;
    font-size: 12px;
    padding: 3px;
    text-align: left;
}

.porto_det_project {
    width: 100%;
    float: left;
    height: auto;
    margin-bottom: 20px;
}

.porto_det_project .col-md-12 .col-img {
    width: 24%;
    float: left;
    height: 200px;
    background: #ddd;
    box-shadow: 0px 0px 20px 0px #fff;
    margin-left: 1%;
}

.porto_det_project .col-md-12 .col-img img {
    width: 100%;
    height: 170px;
    background: cover;
    border-radius: 0px;
}
/* porto img header */
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: inset 0 0 0 16px rgba(255,255,255,0.6),0 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
    background-size: cover;
    background-image: url(../img/125.jpg);
}

.ch-img-2 { 
    background-size: cover;
    background-image: url(../img/123.jpg);
}

.ch-img-3 { 
    background-size: cover;
    background-image: url(../img/125.jpg);
}

.ch-info {
    position: absolute;
    background: rgba(63,147,147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity: 0;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-backface-visibility: hidden;

}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    margin-top: 50px;
    padding: 20px 0 0 0;
    height: auto;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    -webkit-transition: all 1s ease-in-out 0.4s;
    -moz-transition: all 1s ease-in-out 0.4s;
    -o-transition: all 1s ease-in-out 0.4s;
    -ms-transition: all 1s ease-in-out 0.4s;
    transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff222;
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}
a {
    color: #555;
    text-decoration: none;
}

.porto-img-header {
    width: 100%;
    position: absolute;
    margin-top: -50px;
}

.clr {
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}

.porto-img-main-header {
    width: 90%;
    margin: 5%;
    position:absolute;
}
.ch-grid {
margin: 20px 0 0 0;
padding: 0;
list-style: none;
display: block;
text-align: center;
width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}
/* end porto img header */


/* porto modal detail */
.md-modal {
position: fixed;
top: 350px;
left: 50%;
width: 50%;
/*
max-width: 630px;
min-width: 320px;
*/
height: auto;
z-index: 2000;
visibility: hidden;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

.md-show {
visibility: visible;
}

.md-overlay {
position: fixed;
width: 100%;
height: 100%;
visibility: hidden;
top: 0;
left: 0;
z-index: 1000;
opacity: 0;
background: rgba(1, 13, 25, 0.83);
/*	background: rgba(143,27,15,0.8);*/
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.md-show ~ .md-overlay {
opacity: 1;
visibility: visible;
}

/* Content styles */
.md-content {
color: #fff;
background: #fff;
position: relative;
border-radius: 3px;
margin: 0 auto;
}

/* Effect 12:  Just me */
.md-effect-12 .md-content {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
-webkit-transition: all 1.3s;
-moz-transition: all 1.3s;
transition: all 1.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
background: rgba(1, 13, 25, 0.5);
} 

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
background: transparent;
}

.md-show.md-effect-12 .md-content {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
opacity: 1;
}

.md-show.md-effect-12 ~ .md-overlay {
background: rgba(1, 13, 25, 0.5);
}





